@import url(font-awesome.css);
textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], .form-control[type="text"], .form-control[type="password"], .form-control[type="email"], .form-control[type="tel"], .form-control[contenteditable] {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 0 0 #dddddd !important;
    box-shadow: inset 0 0 0 #dddddd !important;
    font-size: 16px;
}
select, select.form-control {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    padding-right: 0\9;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 0px 0 #dddddd !important;
    box-shadow: inset 0 0px 0 #dddddd !important;
    font-size: 16px;
    line-height: 1.5;
}
.barra{
    background-color: #72bf44;
    background-image: url("img/fundo.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
.margin-botton-10{
  margin-bottom: 10px !important;
}
.imagem {
    float: left;
    margin: 8px;
}
.imagem.lock {
  filter:grayscale(1);
-webkit-filter: grayscale(1);
}

.btn-3d {
	/*border-bottom: 3px solid rgba(0,0,0,.15) !important;*/
}
	.btn-3d:hover {
	  opacity: 0.9;
	  filter: alpha(opacity=90);
	}
	.btn-3d.btn-link {
		border-bottom:0;
	}/* Button reveal */
  .btn.btn-reveal {
      padding-left:40px;
      padding-right:28px;
      overflow: hidden;
  	position:relative;
      text-transform: uppercase;
  }

  .btn.btn-reveal i {
      display: block;
      position: absolute;
      left: -32px;
      width: 32px;
      top: 0;
  	bottom:0;
      margin: 0;
  	padding:0;
  	font-size:17px;
  	line-height:34px;
      text-align: center;
      background-color: rgba(0,0,0,0.1);
  }
  .btn.btn-reveal span {
      display: inline-block;
      position: relative;
      left: 0;
  }
  body:not(.device-touch) .btn.btn-reveal i,
  body:not(.device-touch) .btn.btn-reveal span {
      -webkit-transition: left 0.3s ease, right 0.3s ease;
  		 -o-transition: left 0.3s ease, right 0.3s ease;
  			transition: left 0.3s ease, right 0.3s ease;
  }

  	/* extra small */
  	.btn.btn-reveal.btn-xs {
  		padding: 0 17px;
  	}
  	.btn.btn-reveal.btn-xs i {
  		left: -22px;
  		width: 22px;
  		height: 28px;
  		line-height: 20px;
  		font-size:12px;
  	}
  	/* small */
  	.btn.btn-reveal.btn-sm {
  		padding-left: 22px;
  		padding-right: 22px;
  	}
  	.btn.btn-reveal.btn-sm i {
  		left: -26px;
  		width: 26px;
  		height: 34px;
  		line-height: 28px;
  		font-size:14px;
  	}
  	/* large */
  	.btn.btn-reveal.btn-lg {
  		padding-left:32px;
  		padding-right:32px;
  	}
  	.btn.btn-reveal.btn-lg i {
  		left: -38px;
  		width: 38px;
  		height: 46px;
  		line-height: 46px;
  	}
  	/* extra large */
  	.btn.btn-reveal.btn-xlg {
  		padding-left:40px;
  		padding-right:40px;
  	}
  	.btn.btn-reveal.btn-xlg i {
  		left: -44px;
  		width: 44px;
  		height: 72px;
  		line-height: 72px;
  		font-size:20px;
  	}

  .btn.btn-reveal:hover i {
  	left: 0;
  }
  .btn.btn-reveal:hover span {
  	left: 16px;
  }


  /* Button Bordered */
  .btn.btn-bordered {
  	border-color:#333;
  	border-width:2px;
  }
  .btn.btn-bordered:hover {
  	color:#fff;
  	background-color:#333;
  }

  /* button colors */
  .btn-red { background-color: #C02942 !important; color: #FFF !important; }
  .btn-teal { background-color: #53777A !important; color: #FFF !important; }
  .btn-yellow { background-color: #ECD078 !important; color: #333 !important; }
  .btn-green { background-color: #59BA41 !important; color: #FFF !important; }
  .btn-brown { background-color: #774F38 !important; color: #FFF !important; }
  .btn-aqua { background-color: #40C0CB !important; color: #FFF !important; }
  .btn-lime { background-color: #AEE239 !important; color: #FFF !important; }
  .btn-purple { background-color: #5D4157 !important; color: #FFF !important; }
  .btn-leaf { background-color: #A8CABA !important; color: #333 !important; }
  .btn-pink { background-color: #F89FA1 !important; color: #FFF !important; }
  .btn-dirtygreen { background-color: #1693A5 !important; color: #FFF !important; }
  .btn-blue { background-color: #1265A8 !important; color: #FFF !important; }
  .btn-amber { background-color: #EB9C4D !important; color: #FFF !important; }
  .btn-black { background-color: #111 !important; color: #FFF !important; }
  .btn-white { background-color: #F9F9F9 !important; color: #333 !important; }


  .fullwidth.btn-red:hover,
  .fullwidth.btn-teal:hover,
  .fullwidth.btn-yellow:hover,
  .fullwidth.btn-green:hover,
  .fullwidth.btn-brown:hover,
  .fullwidth.btn-aqua:hover,
  .fullwidth.btn-lime:hover,
  .fullwidth.btn-purple:hover,
  .fullwidth.btn-leaf:hover,
  .fullwidth.btn-pink:hover,
  .fullwidth.btn-dirtygreen:hover,
  .fullwidth.btn-blue:hover,
  .fullwidth.btn-amber:hover,
  .fullwidth.btn-black:hover,
  .fullwidth.btn-white:hover {
  	color:#fff !important;
  	background-color:#434343;
  }
.header {
    position: relative;
    display: block;
    height: 60px;
    width: 100%;
    padding: 0 20px 0 0;
    z-index: 800;
    background-color: #fff;
    border-bottom: 1px solid rgba(230,230,230,0.7);
}
.icon-thumbnail > i {
    padding: 13px 0 !important;
}

.panel {
    background-color: #FFF !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
}
.panel {
  border: none;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.grid-title {
    padding: 14px 15px 7px 15px;
    border-bottom: 1px solid #eee;
    color: #282323 !important;
    background-color: #ffffff;
    margin-bottom: 0px;
    border: 1px solid #dddddd;
    border-bottom: 0px;
}
.table-full {
    margin-bottom: 0;
    background: #fff;
    width: 100%;
}
.table-full .btn-round {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0;
}


.btn.btn-reveal {
    padding-left: 40px;
    padding-right: 28px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.discovery .category .title, .discovery .category .cards, .discovery .category .card, .discovery .category .item {
    display: inline-block;
    float: left;
    margin: 1px;
    white-space: normal;
}
.discovery .category .title, .discovery .category .cards, .discovery .category .card, .discovery .category .item {
    display: inline-block;
    float: left;
    margin: 1px;
    white-space: normal;
}
.discovery .category {
    margin-bottom: 20px;
    margin-left: 20px;
    white-space: nowrap;
}
