.main-content.default h1 a {
    display: block;
    text-indent: -9999em;
    background: url('http://www.minhaprefeitura.com.br/dinamico/logos/logo_mp_medium.png') no-repeat !important;
    width: 266px;
    height: 95px;
    margin: 100px auto 70px;
}
